<div ng-controller="UserDetailCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ pageHead }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Detail {{ pageHead }}        
      </div>
        <div class="row wrapper">            
            <div class="col-sm-6 col-md-8">
                        
                <ul class="list-group">
                    <li class="list-group-item">
                      <cite title="{{user.address}}"> 
                      <i class="glyphicon glyphicon-map-marker"></i>
                      <strong>Address : </strong> {{user.address}}
                    </cite>
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-envelope"></i>&nbsp;
                      <strong>Email : </strong> {{ user.email }}
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-university"></i>&nbsp;
                      <strong>Skill : </strong> {{ user.skill.name | capitalize }}
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-phone"></i>&nbsp;
                      <strong>Contact : </strong> {{user.phone }}
                    </li>  

                    <li class="list-group-item">
                      <i class="fa fa-info"></i>&nbsp;
                      <strong>Age : </strong> {{user.birthdate | ageConvert}}
                    </li>  

                    <li class="list-group-item">
                      <i class="fa fa-book"></i>&nbsp;
                      <strong>Myself : </strong> {{user.aboutme }}
                    </li>

                    <li class="list-group-item">
                      <i class="fa fa-child"></i>&nbsp;
                      <strong>Gender : </strong> {{user.gender }}
                    </li>

                    <li class="list-group-item">
                      <i class="fa fa-phone"></i>&nbsp;
                      <strong>Status : </strong> {{user.status }}
                    </li>  

                </ul>
                <p style="margin-top:10px;">
                  <a ui-sref="admin.users.update({id:user.id})" class="btn m-b-xs btn-md btn-info" tooltip-html-unsafe="Edit">
                  <i class="fa fa-pencil"></i> Edit
                  </a>  
                </p>        
            </div>
            <div class="col-sm-6 col-md-4">                
                <p>
                    <img src="{{user.photo}}" alt="" class="img-rounded img-responsive" />
                </p>
                <h4><strong> {{user.fullname}} </strong></h4>      
            </div>
        </div>
    </div>
  </div>
</div>