<div ng-controller="UserListCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ pageHead }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Manage {{ pageHead }}
      </div>
      <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
          <select ui-module="select2" ng-model="perPage" class="input-sm form-control w-sm inline v-middle">
            <option value="{{totalItems}}">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <button ng-click="pageLimitChange()" class="btn btn-sm btn-default">Go</button>                
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" placeholder="Search fullname / email" ng-model="userSearch" class="input-sm form-control">
            <span class="input-group-btn">
              <button type="button" ng-click="getSearch()" class="btn btn-sm btn-default">Go!</button>
            </span>
          </div>
        </div>
      </div>
      
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Skill</th>
              <th>Actions</th>            
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user.id}}</td>
              <td>{{user.fullname }}</td>
              <td>{{user.email}}</td>
              <td>{{user.skill.name | capitalize }}</td>
              <td>
                <a ui-sref="admin.users.detail({id:user.id})" class="btn m-b-xs btn-sm btn-primary" tooltip-html-unsafe="Detail">
                  <i class="fa icon-doc"></i>
                </a>
                <a ui-sref="admin.users.update({id:user.id})" class="btn m-b-xs btn-sm btn-info" tooltip-html-unsafe="Edit">
                  <i class="fa fa-pencil"></i>
                </a>
                <button class="btn m-b-xs btn-sm btn-danger" ng-click="removeConfirm(user)" tooltip-html-unsafe="Remove">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>            
            </tr>          
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">          
          <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">showing {{itemFrom}} - {{itemTo}} of {{totalItems}} items </small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">                
            <pagination total-items="totalItems" items-per-page="perPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
          </div>
        </div>
      </footer>

        <script type="text/ng-template" id="removeUser.html">
            <div class="modal-header">
                <h3 class="modal-title">Remove User</h3>
            </div>
            <div class="modal-body">
                Are you sure to remove user <strong>{{user.fullname}}</strong> ?
            </div>
            <div class="modal-footer">                  
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-danger" ng-click="ok()">Delete</button>
            </div>
        </script>

    </div>
  </div>
</div>