<div ng-controller="UserUpdateCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ pageHead }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Update {{ pageHead }}        
      </div>
      <div class="panel-body">
          <form class="form-horizontal ng-pristine ng-valid" ng-submit="submitForm()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Profile Image</label>
                <div class="col-sm-10">
                    <p>
                      <img ng-src="{{user.photo}}" width="180" alt="" class="img-rounded img-responsive" />
                    </p>
                    <input type="file" ng-file-select="onFileSelect($files)" >
                    <!--<input ui-jq="filestyle" ng-file-select="onFileSelect($files)"  type="file" ng-model="user.photo" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">-->
                </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Full Name</label>
              <div class="col-lg-10">
                <input type="text" placeholder="fullname" ng-model="user.fullname" name="fullname" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="email">Email</label>
              <div class="col-lg-10">
                <!-- <input type="email" placeholder="Email" ng-model="users.email" name="email" class="form-control"> -->
                <p style="line-height:30px;">{{user.email}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <button type="button" class="btn btn-dark" ng-click="changePassword(user)">
                    <i class="fa fa-key"></i> Change Password
                </button>
                <script type="text/ng-template" id="passwordForm.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Change Password</h3>
                    </div>
                    <div class="modal-body">
                        <input type="password" class="form-control m-b" name="password" ng-model="users.password" placeholder="New Password">
                    </div>
                    <div class="modal-footer">                  
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">Change</button>
                    </div>
                </script>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Skill</label>
              <div class="col-lg-10">
                <div ui-module="select2">
                  <select ng-model="user.skill.id" ng-options="skill.id as skill.name for skill in skills" class="form-control w-md"></select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address</label>
              <div class="col-lg-10">
                <textarea placeholder="Address" rows="6" ng-model="user.address" class="form-control"></textarea>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Contact No</label>
              <div class="col-lg-10">
                <input type="text" placeholder="contact no" ng-model="user.phone" name="phone" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Birth Date</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Date of birth" ng-model="user.birthdate" name="birthdate" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Myself</label>
              <div class="col-lg-10">
                <textarea placeholder="Myself" rows="6" ng-model="user.aboutme" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Gender</label>
              <div class="col-lg-10">
                <input type="radio" placeholder="gender" ng-model="user.gender" name="gender" value="male">Male
                <input type="radio" placeholder="gender" ng-model="user.gender" name="gender" value="female">Female
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Status</label>
              <div class="col-lg-10">
                <input type="radio" placeholder="status" ng-model="user.status" name="status" value="active">Active
                <input type="radio" placeholder="status" ng-model="user.status" name="status" value="deactive">Deactive
                <input type="radio" placeholder="status" ng-model="user.status" name="status" value="ban">Banned
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-sm btn-info" type="submit">Update</button>
              </div>
            </div>
          </form>
        </div>   
      
    </div>
  </div>
</div>