body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#login-nav input { margin-bottom: 15px; }

.portfolio-item {
    margin-bottom: 25px;
}

.profile-wrapper {
  text-align: center;  
  margin-bottom: 15px;  
  background: #f8f8f8;
  color: #555;
  border: 1px solid #f8f8f8;
}

.profile-block {
  padding: 10px 25px 0px;
  text-align: center;
  margin-bottom: 5px;
}

.profile-block h5 {
  color: #56462a;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-block .avatar {
  margin: 5px 0px;  
}

.profile-block .avatar img {
  border: 1px solid #a1875c;  
  height: 200px;
  width: 150px;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #21272d;
  margin-top: 50px;
  color: #efefef;
  height: 180px;
}

.es-skills-block {

}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    top:76%;
    background: #eee;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0; 
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.register {
  border: 1px solid #f8f8f8;
}
.register form {  
  padding: 20px 50px 40px;  
}

.register h2 {
  border-bottom: 2px dotted #bbb;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
  padding-bottom: 15px;
  text-align: center;
}