<div ng-controller="SkillDetailCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ pageHead }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Detail {{ pageHead }}        
      </div>
        <div class="row wrapper">            
            <div class="col-sm-12 col-md-12">                        
                <ul class="list-group">                    
                    <li class="list-group-item">
                      <i class="fa fa-wrench"></i>&nbsp;
                      <strong>Name : </strong> {{skills.name}}
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-calendar"></i>&nbsp;
                      <strong>Created : </strong> {{skills.created_at}}
                    </li>
                </ul>
                <p style="margin-top:10px;">
                  <a ui-sref="admin.skills.update({id:skills.id})" class="btn m-b-xs btn-md btn-info" tooltip-html-unsafe="Edit">
                  <i class="fa fa-pencil"></i> Edit
                  </a>  
                </p>        
            </div>
        </div>
    </div>
  </div>
</div>