<div ng-controller="SkillUpdateCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ pageHead }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Update {{ pageHead }}        
      </div>
      <div class="panel-body">
          <form class="form-horizontal ng-pristine ng-valid" ng-submit="submitForm()">            
            <div class="form-group">
              <label class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Name" ng-model="skills.name" name="name" class="form-control">
              </div>
            </div>            
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-sm btn-info" type="submit">Update</button>
              </div>
            </div>
          </form>
        </div>   
      
    </div>
  </div>
</div>