<div class="container" ng-controller="EditProfileCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Your profile</h3>
                </div>
                <form class="form-horizontal ng-pristine ng-valid" ng-submit="submitForm()">
                    <div class="panel-body">
                        <div class="form-block">

                            <div class="form-group clearfix">
                                <label class="col-sm-2 control-label">Profile Image</label>
                                <div class="col-sm-10">
                                    <p>
                                        <img ng-src="{{user.photo}}" width="150" alt="" class="img-rounded img-responsive" />
                                    </p>
                                    <input type="file" ng-file-select="onFileSelect($files)" >
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Full Name</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="fullname" ng-model="user.fullname" name="fullname" class="form-control">
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label" for="email">Email</label>
                                <div class="col-lg-10">
                                    <!-- <input type="email" placeholder="Email" ng-model="users.email" name="email" class="form-control"> -->
                                    <p style="line-height:30px;">{{user.email}}</p>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <button class="btn btn-dark" type="button" ng-click="changePassword(user)">
                                        <i class="glyphicon glyphicon-wrench"></i> Change Password
                                    </button>
                                    <script type="text/ng-template" id="passwordForm.html">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Change Password</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="password" class="form-control m-b" name="password" ng-model="user.password" placeholder="New Password">
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                                            <button class="btn btn-success" ng-click="ok(user.password)">Change</button>
                                        </div>
                                    </script>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Skill</label>
                                <div class="col-lg-10">
                                    <div ui-module="select2">
                                        <select ng-model="user.skill.id" ng-options="skill.id as skill.name for skill in skills" class="form-control w-md"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Address</label>
                                <div class="col-lg-10">
                                    <textarea placeholder="Address" rows="6" ng-model="user.address" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Contact No</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="contact no" ng-model="user.phone" name="phone" class="form-control">
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Birth Date</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Date of birth" ng-model="user.birthdate" name="birthdate" class="form-control">
                                    <span class="help-block">(yyyy-mm-dd)</span>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Myself</label>
                                <div class="col-lg-10">
                                    <textarea placeholder="Myself" rows="6" ng-model="user.aboutme" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Gender</label>
                                <div class="col-lg-10">
                                    <input type="radio" placeholder="gender" ng-model="user.gender" name="gender" value="male">Male
                                    <input type="radio" placeholder="gender" ng-model="user.gender" name="gender" value="female">Female
                                </div>
                            </div>

                      </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class="glyphicon glyphicon-save"></i> Update Profile
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a href="#" ui-sref="profile" data-original-title="Save" data-toggle="tooltip" class="btn btn-block col-md-6">
                                <i class="glyphicon glyphicon-arrow"></i> Back
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
