<div ng-controller="HomeCtrl">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Welcome
                <small>to Worker Directory</small>
            </h2>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <div class="row clearfix page-header">
         <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="clearfix">               
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#skill-navbar-list">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:#ebebeb"></span>
                    <span class="icon-bar" style="background-color:#ebebeb"></span>
                    <span class="icon-bar" style="background-color:#ebebeb"></span>
                </button>
                <h3>Find Your Worker</h3>            
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
            <div class="es-skills-block collapse navbar-collapse" collapse="isCollapsed" id="skill-navbar-list">
                <ul class="nav navbar-nav navbar-right" style="margin: 4px 0px;">
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{selectedSkill | capitalize }} 
                            <span class="glyphicon glyphicon-chevron-down pull-right" style="right: -4px;top: 5px;"></span>
                        </a>                        
                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <li class="col-sm-6 col-md-4 col-xs-12">
                                <a href="" ng-click="changeSkill('all', 'All')">All</a>
                            </li>
                            <li class="col-sm-6 col-md-4 col-xs-12" ng-repeat="skill in skills" >
                                <a href="" ng-click="changeSkill(skill.id, skill.name)">{{skill.name | capitalize}}</a>
                            </li>
                        </ul>
                        
                    </li>
                </ul>
                
            </div>
        </div>
    </div>

    <!-- Related Projects Row -->
    <div class="row clearfix">
        <div ng-repeat="user in users" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="profile-wrapper clearfix">                
                <div class="profile-block">
                    <h5>{{user.fullname}}</h5>
                    <span class="subtitle">{{user.skill.name | capitalize}}</span>
                    <div class="avatar"><img alt="" src="{{user.photo}}"></div>
                    <div class="phone">{{ user.phone }}</div>                    
                </div>
                <a ng-click="userDetails(user)" class="btn btn-default col-md-12 col-sm-12 col-xs-12"><span><i class="glyphicon glyphicon-user"></i>&nbsp;PROFILE</span></a>                
            </div>
        </div>
        <script type="text/ng-template" id="detailUser.html">
            <div class="modal-header">
                <h3 class="modal-title">{{selectedUser.fullname}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                    <img alt="User Pic" width="140" src="{{selectedUser.photo}}" class="img-box"> 
                </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Skill </td>
                        <td>{{selectedUser.skill.name | capitalize }}</td>
                      </tr>

                      <tr>
                        <td>Age</td>
                        <td>{{selectedUser.birthdate | ageConvert }}</td>
                      </tr>

                      <tr>
                        <td>Gender</td>
                        <td>{{selectedUser.gender | capitalize }}</td>
                      </tr>

                      <tr>
                        <td>Address</td>
                        <td>{{selectedUser.address}}</td>
                      </tr>

                      <tr>
                        <td>Email</td>
                        <td>{{selectedUser.email}}</td>
                      </tr>

                      <tr>
                        <td>Phone</td>
                        <td>{{selectedUser.phone}}</td>
                      </tr>

                      <tr>
                        <td>Myself</td>
                        <td>{{selectedUser.aboutme}}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>                
            </div>
        </script>
    </div>
    <!-- /.row -->
    <footer class="panel-footer">
        <div class="row">          
          <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">showing {{itemFrom}} - {{itemTo}} of {{totalItems}} profles </small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">                
            <pagination total-items="totalItems" items-per-page="perPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
          </div>
        </div>
      </footer>
</div>