<div class="container" ng-controller="ProfileCtrl">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2 toppad" >
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{profile.fullname}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img height="200" width="150" alt="User Pic" src="{{profile.photo}}" class="img-box">
                    </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Skills:</td>
                        <td>{{profile.skill.name }}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{profile.birthdate}}</td>
                      </tr>

                     <tr>
                        <td>Gender</td>
                        <td>{{profile.gender}}</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{profile.address}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
                      </tr>
                        <td>Phone</td>
                        <td>{{profile.phone}}</td>
                      </tr>
                      <tr>
                        <td>Myself</td>
                        <td>{{profile.aboutme}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <a href="#" ui-sref="edit-profile" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-edit"></i> Edit Profile
                </a>
            </div>

          </div>
        </div>
      </div>
    </div>
