<div ng-controller="RegistrationCtrl">
    <div class="row clearfix">
        <div class="col-md-8 col-lg-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2">
            <div class="register well bs-component">
                <h2>REGISTER TO <span class="text-danger"><strong>EasyService</strong></span></h2>
                <form method="post" name="form" ng-submit="signup()" novalidate>
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input ng-model="user.fullname" type="text" class="form-control" placeholder="enter your full name..." name="fullname" id="fullname" required />
                    </div>                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input ng-model="user.email" type="email" class="form-control" placeholder="enter your email..." name="email" id="email" required />
                        <p ng-hide="checkUniqueEmail" class="help-block has-error error-msg">Sorry! The email has already been taken.</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="user.password" ng-minlength="6" type="password" class="form-control" placeholder="choose a password..." name="password" id="password" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Retype Password</label>
                        <input ng-model="user.password_confirm" data-password-verify="user.password" ng-required-err-type="retypePassword" type="password" class="form-control" placeholder="retype password..." name="password" id="retype_password" required />
                    </div>
                    <div class="form-group">
                        <label for="skill">Skill</label>
                        <select id="skill" type="text" class="form-control"
                                ng-model="user.skill"
                                ng-init="user.skill= skills[0]"
                                ng-options="skill.id as ( skill.name | capitalize ) for skill in skills"
                                name="skill"                                
                                required >
                            <option value=""> -- Select an option -- </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input ng-model="user.phone" type="text" class="form-control" placeholder="enter your phone..." name="phone" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Date of Birth</label>
                        <input ng-model="user.birthdate" type="date" class="form-control" placeholder="YYYY-MM-DD" name="birthdate" id="birthdate">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="radio">
                            <label>
                              <input ng-model="user.gender" type="radio" name="gender" value="male" id="gender" checked> Male&nbsp;&nbsp;
                            </label>
                            <label>
                              <input ng-model="user.gender" type="radio" name="gender" value="female" id="gender"> Female&nbsp;&nbsp;
                            </label>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea ng-model="user.address" type="text" class="form-control" row="3" placeholder="enter your address..." name="address" id="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="aboutme">Myself</label>
                        <textarea ng-model="user.aboutme" type="text" class="form-control" row="3" placeholder="write about yourself..." name="aboutme" id="aboutme"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>