<ul class="nav">  
  <li ui-sref-active="active">
    <a ui-sref="admin.dashboard">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('admin.users')}">
    <a ui-sref="admin.users.list">
      <i class="glyphicon icon-users icon text-info-dker"></i>
      <span class="font-bold">Users</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('admin.skills')}">
    <a ui-sref="admin.skills.list">      
      <i class="fa fa-university icon text-info-lter"></i>
      <span class="font-bold">Skills</span>
    </a>
  </li>
</ul>